doctype html
html
    head
        title= title
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        link(rel="stylesheet" href="/stylesheets/layouts.css")
    body
        h1= title
        div#buttons
            form(action="/" method="GET")
                button#main Перечень картин
            form(action="/participants" method="GET")
                button#cards Участники
            form(action="/setting" method="GET")
                button#setting Настройки
        block content