extends layout

block content
    script(src="/gulp_scripts/participants.js")
    link(rel="stylesheet" href="/stylesheets/participants.css")
    div#id01
        div
            header
                span(onclick="start_config()") &times;
                h2 Редактировать
            div
                form(name="pForm" method="POST")
                    table#centered_info
                        tr
                            th Имя участника:
                            th
                                input(name = "redact_name")
                        tr
                            th Запас денежных средств:
                            th
                                input(type="number" name = "redact_money")
                    p
                        p
                            button#red(type="submit") Сохранить
                    p

    div#id02
        div
            header
                span(onclick="start_config()") &times;
                h2 Добавить нового участника
            div
                form(action="newPerson/" method="POST")
                    table#centered_info
                        tr
                            th Имя участника:
                            th
                                input(name = "name" required)
                        tr
                            th Запас денежных средств:
                            th
                                input(type="number" name = "money" required)
                        tr
                            th Ссылка на фото:
                            th
                                input(name = "pt" required)
                    p
                        p
                            button#red1(type="submit") Добавить участника
                    p
    div#id03
        for item in persons
            table#artTable
                th
                    - var way = item.pt
                    img(src=way width="200")
                th
                    table#info
                        tr
                            th Имя участника:
                            th #{item.name}
                        tr
                            th Запас денежных средств:
                            th #{item.money}
                        tr
                            th
                                button(onclick="edit_person(\"" + item.name + "\", \"" + item.money + "\", \"" + item.id + "\")") Редактировать
                            th
                                form(action="deletePerson/"+item.id method="POST")
                                    button(type="submit") Удалить

