extends layout

block content
    .container-fluid
        .row.vh-100
            .tabs.col-md-8
                ul
                    li
                        a.notOutline(href="#tab1") Участники
                    li
                        a.notOutline(href="#tab2") Картины
                div#tab1
                    table.table
                        tr
                            td Участник
                            td Сумма
                        each element in partners
                            tr.partner
                                td
                                    =element.name
                                td
                                    =element.money
                div#tab2
                    table.table
                        tr
                            td Автор
                            td Название
                            td Начальная цена
                            td Кому продана
                            td За какую цену
                        each element in arts
                            -if (element.is === "участвует")
                                tr.artInfo
                                    td
                                        =element.author
                                    td
                                        =element.name
                                    td
                                        =element.price
                                    td
                                    td

            div#info-messages.app-block.col-md-4
                div.header Ход торгов
                div.content

block js
    script(src='../public/assets/js/admin.js')
    script(src='http://localhost:3030/socket.io/socket.io.js')