doctype html
html
    head
        title Аукцион
        link(rel='stylesheet', href='../public/assets/css/all.css')
        link(rel='stylesheet', href='../public/assets/css/bootstrap.min.css')
        link(rel='stylesheet', href='../public/assets/css/jquery-ui.css')
        block css
    body
        block content

    script(src='../public/assets/js/jquery.js')
    script(src='../public/assets/js/jquery-ui.js')
    script(src='../public/assets/js/common.js')
    block js
