doctype html
html
    head
        meta(charset="utf-8")
        link(href="css/style.css" rel="stylesheet")
        link(href="css/w3.css" rel="stylesheet")
        link(href="css/add_book.css" rel="stylesheet")
        script(src="../js/xhr.js")

        title Библиотека
    body
        #header_btn
            a(href="/add_user")
                button() Новый пользователь
            a(href="/add_book") 
                button() Новая книга
            a(href="/") 
                button() Список книг
        p
            form(action="/add_user" method="POST")
                table
                    tr
                        th Имя пользователя:
                        th
                            input(name="name" required=)
                button(type="submit" onclick='showAddedUserAlert()') Добавить

