body{
    margin: 150px;
    display: grid;
    justify-content: center;
    grid-template-rows:auto auto 18px auto auto 22px;
    grid-row-gap: 15px;

}
#book_card{
    grid-row: 2 / span 1;
}

#book_change{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 0px;
    visibility: hidden;
}

#book_give{
    height: 0px;
    visibility: hidden;
}

#book_extend{
    height: 0px;
    visibility: hidden;
}

#book_extend button{
    margin-left: 40px;
}
#buttons{
    grid-row:  3 / span 1;
    display: flex;
    justify-content: space-around;
    height:40px;
}

#user:hover{
    cursor: pointer;
}
