<div class="lab5-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Добавить</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="this.closeModal.emit()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" placeholder="Имя" [(ngModel)]="name"
                       [class.badValue]="isBadName" (keydown.enter)="add(name, money)">
                <p></p>

                <input type="number" class="form-control" min="0" step="1" placeholder="Сумма" [(ngModel)]="money"
                       [class.badValue]="isBadMoney" (keydown.enter)="add(name, money)">
                <p></p>
            </div>
            <div class="modal-footer">
                <button (click)="add(name, money)" type="button" class="btn btn-primary">Добавить</button>
                <button (click)="this.closeModal.emit()" type="button" class="btn btn-secondary" data-dismiss="modal">
                    Закрыть
                </button>
            </div>
        </div>
    </div>
</div>

<div class="lab5-backdrop"></div>
