body 
table#wrapper { width: 85%; min-width: 1150px; background: #FFF; border-radius: 2px; }

td#headtd { text-align: center; vertical-align: middle; font-size: 50px; font-weight: normal; padding-bottom: 10px; letter-spacing: -3px; }
td#headtd img.grad { border: 0px; position: absolute; width: 350px; height: 70px; }
td#headtd #headdm { font-weight: normal; color: #9B0000; }

td#navtd { text-align: left; vertical-align: top; font-size: 20px; width: 210px; padding: 0px 30px; }
td#navtd .navitem a { color: #000; }
td#navtd .navitem a.current { color: #9B0000; font-weight: bold; text-decoration: none; }
td#navtd .navitem img.grad { border: 0px; position: absolute; padding-top: 5px; width: 210px; height: 30px; }

td#bodytd { text-align: left; vertical-align: top; padding: 30px; }

td#foottd { text-align: center; font-size: smaller; }

acronym { border-bottom: 1px dotted; cursor: default; }
acronym img.lower { position: relative; top: 2px; }

h1, h2, h3 { margin: 0px; }

.canBeLong { word-wrap: break-word; overflow: hidden; max-height: 50px; }
a#bigTaskButton { display: block; width: 100%; height: 100%; border: 3px solid #000; padding: 10px 0px; background: #395B3D url("bg.png"); color: #fff; border-radius: 4px; font-size: 30px; text-decoration: none; }
a#bigTaskButton div div { font-size: 13px; }

/***********************************************************************************************/

.ok { background: #C5E6B5; }
.err { background: #EDC5C5; }
.warn { background: #F7F1AE; }

/***********************************************************************************************/

table#restable { border-collapse: collapse; border: 1px solid #C0C0C0; width: 100%; }
table#restable tr { height: 40px; }
table#restable tr#reshead { background: #C0C0C0; height: 20px; }
table#restable tr.odd { background: #F0F0F0; }
table#restable th { white-space: nowrap; }
table#restable td { text-align: center; vertical-align: middle; }

/***********************************************************************************************/

table#regtable td { text-align: left; padding: 2px; }
table#regtable td input { width: 20px; }
table#regtable td select { width: 25px; }
table#regtable * strong { color: #9B0000; }
table#regtable td.colspan { text-align: center; }
#errstr { font-weight: bold; color: #9B0000; }
#okstr { font-weight: bold; color: #009B00; }
.quest_done { font-weight: bold; color: #009B00; }

/***********************************************************************************************/

table#flagtable td input[type=text] { width: 250px; border: 2px solid #FFF; background: #FFF; font-size: 15px; }
table#flagtable td input[type=submit] { width: 100px; border: 2px solid #FFF; background: transparent; color: #FFF; font-size: 15px; }
table#flagtable td select { width: 305px; }
select#taskSelect option { background: #FFF; }
select#taskSelect option.ok { background: #C5E6B5; }
table#flagtable * strong { color: #9B0000; }
table#flagtable td.colspan { text-align: center; }
#errstr { font-weight: bold; color: #9B0000; }
#okstr { font-weight: bold; color: #009B00; }

/***********************************************************************************************/

li { margin-bottom: 10px; }

/***********************************************************************************************/

#tooltip { background: #FFFFFF; border: 1px solid #666666; color: #333333; font: menu; margin: 0px; padding: 3px 5px; position: absolute; visibility: hidden; }

.howtoImg { border: 3px solid #ccc; }
.howtoImg.left { float: left; margin-right: 20px; }
.howtoImg.right { float: right; margin-left: 20px; }

/***********************************************************************************************/

.backButton { display: block; width: 42px; height: 42px; background-image: url(/img/back-mask.png); position: relative; left: -65px; top: 27px; margin-top: -42px; }

.tile { display: block; text-decoration: none; width: 110px; height: 110px; margin-bottom: 7px; margin-right: 7px; padding: 10px; color: #FFF; float: left; }
.tile.big { width: 247px; }
.tile.solved { opacity: 0.1; background-image: url(/img/tick-frame.png); }
.tile.big.solved { background-image: url(/img/tick-frame-big.png); }
.tile:hover { opacity: 0.9; }
.tile .cat { font-size: 20px; }
.tile .cost { font-size: 40px; }
.tile .desc { display: table-cell; vertical-align: bottom; height: 32px; }

.fullTile { width: 500px; margin: auto; padding: 14px; padding-bottom: 28px; color: #FFF; }
.fullTile.solved { background: url(/img/tick-corner.png) top right no-repeat; }
.fullTile .cat { font-size: 20px; }
.fullTile .cost { font-size: 40px; }
.fullTile .desc { font-size: 24px; }
.fullTile .fullDesc { margin-top: 10px; font-size: 15px; }
.fullTile .fullDesc * { color: #FFF; }
.fullTile .result { font-size: 17px; font-weight: bold; margin-bottom: 7px; }

.microTile { display: block; text-decoration: none; width: 27px; height: 27px; margin-right: 4px; margin-bottom: 4px; padding: 4px; color: #FFF; float: left; line-height: 27px; vertical-align: center; font-size: 13px; font-weight: bold; }
.microTile.solved { opacity: 0.1; }
.microTile:hover { opacity: 0.9; }
