h1 {
  height: 40px;
  text-align: center;
}
h2 {
  text-align: center;
}
table {
  width: 60%;
  position: relative;
  margin-top: 25px;
  left: 20%;
  border: 1px solid black;
}
#art_table {
  position: relative;
}
#info {
  position: relative;
  left: 0%;
  width: auto;
  border: none;
}
#centered_info {
  border: none;
}
#red,
#red1 {
  position: relative;
  left: 37%;
}
#id01,
#id02,
#id03{
  position: relative;
  left: 20%;
  border: 1px solid black;
  width: 60%;
  top: 20px;
}
